{% extends "base.html" %}
{% block contend %}
{% load static %}

<div class="container--large">
    <table class="table">
        <div class="table__info">
            <svg width="28" height="27" viewBox="0 0 23 22" fill="currentColor">
                <path d="M20.7 0H2.3C1.03155 0 0 1.03863 0 2.31579V15.0526C0 16.3298 1.03155 17.3684 2.3 17.3684H10.35V19.6842H6.9V22H16.1V19.6842H12.65V17.3684H20.7C21.9685 17.3684 23 16.3298 23 15.0526V2.31579C23 1.03863 21.9685 0 20.7 0ZM2.3 12.7368V2.31579H20.7L20.7023 12.7368H2.3Z" />
            </svg>
            <span class="table__info-text">Todos los equipos</span>
        </div>
        <div class="table__info table__info--options">
            <div class="select select--filter">
                <div class="select__selected" id="filterCategory">{% if category %} {{ category }} {% else %} Categoria {% endif %}</div>
                <div class="select__options scroll">
                    <div class="select__option" >TODAS</div>
                    {% for category in categories_list %}
                        <div class="select__option">{{category}}</div>
                    {% endfor %}
                </div>
                <div class="select__icon">
                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M6.34292 7.75734L4.92871 9.17155L11.9998 16.2426L19.0708 9.17158L17.6566 7.75737L11.9998 13.4142L6.34292 7.75734Z" />
                    </svg>
                </div>
            </div>

            <div class="select select--filter">
                <div class="select__selected" id="filterBrand">{% if brand %} {{ brand }} {% else %} Marca {% endif %}</div>
                <div class="select__options scroll">
                    <div class="select__option">TODAS</div>
                    {% for brand in brand_list %}
                        <div class="select__option">{{brand}}</div>
                    {% endfor %}
                </div>
                <div class="select__icon">
                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M6.34292 7.75734L4.92871 9.17155L11.9998 16.2426L19.0708 9.17158L17.6566 7.75737L11.9998 13.4142L6.34292 7.75734Z" />
                    </svg>
                </div>
            </div>

            <input class="select select--search" type="text" id="searchEquipment" placeholder="Buscar por codigo" value="{% if search_query %}{{search_query}}{% endif %}" />

            <div class="select select--filter select--right">
                <div class="select__selected">
                    <svg width="21px" height="17px" viewBox="0 0 21 21" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.625 14H11.375V6.125H14L10.5 1.75L7 6.125H9.625V14Z" />
                        <path
                            d="M4.375 19.25H16.625C17.5901 19.25 18.375 18.4651 18.375 17.5V9.625C18.375 8.65987 17.5901 7.875 16.625 7.875H13.125V9.625H16.625V17.5H4.375V9.625H7.875V7.875H4.375C3.40987 7.875 2.625 8.65987 2.625 9.625V17.5C2.625 18.4651 3.40987 19.25 4.375 19.25Z" />
                    </svg>
                    <span> Exportar </span>
                </div>
                <div class="select__options">
                    <div class="select__option select__option--export">
                        <svg fill="#000000" width="23px" height="18px" viewBox="0 -8 72 72" id="Layer_1"
                            data-name="Layer 1" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M46.92,0H18.74A3.44,3.44,0,0,0,15.3,3.43V52.57A3.44,3.44,0,0,0,18.74,56H53.26a3.44,3.44,0,0,0,3.44-3.43V10.62Zm.81,5.14L52,9.79H47.73Zm6.08,47.43a.55.55,0,0,1-.55.55H18.74a.55.55,0,0,1-.55-.55V3.43a.54.54,0,0,1,.55-.54H44.85v8.35a1.45,1.45,0,0,0,1.44,1.44h7.52Z" />
                            <path
                                d="M25,48.69V45.27h3l4.91-6.94-4.91-6.44H25.15V28.48H35.73v3.41H33.79l2.84,3.56,2.57-3.56H37.37V28.48h9.11v3.41H43.67l-4.79,6.64,5.29,6.74h2.9v3.42H36.21V45.27h2l-3-4-2.89,4h2.07v3.42Z" />
                        </svg>
                        <span>Excel</span>
                    </div>
                    <div class="select__option select__option--export" id="printEquipmentsPdf">
                        <svg width="23px" height="18px" viewBox="-274.15 0 1200 1200"
                            xmlns="http://www.w3.org/2000/svg" class="cf-icon-svg">
                            <path
                                d="M30 161c-16.5 0-30 13.5-30 30v827.8c0 16.5 13.5 30 30 30h591.7c16.5 0 30-13.5 30-30V343.7L469 161H30zm389.6 60v134.8c0 19.9 16.3 36.2 36.2 36.2h135.9v596.8H60V221h359.6z" />
                            <path
                                d="M123.8 768.6h394.8v50H123.8zm0-124.6h394.8v50H123.8zm0-124.5h394.8v50H123.8z" />
                            <circle cx="194" cy="382.3" r="60" />
                        </svg>
                        <span> PDF </span>
                    </div>
                </div>
                <div class="select__icon">
                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M6.34292 7.75734L4.92871 9.17155L11.9998 16.2426L19.0708 9.17158L17.6566 7.75737L11.9998 13.4142L6.34292 7.75734Z" />
                    </svg>
                </div>
            </div>
        </div>
        <thead class="table__headed">
            <th class="table__headed-title">Serial</th>
            <th class="table__headed-title">Marca</th>
            <th class="table__headed-title">Categoria</th>
            <th class="table__headed-title table__headed-actions">Acciones</th>
        </thead>
        <tbody class="table__body">
            {% include "partials/_equipments_table_body.html" %} 
        </tbody>
    </table>

    <div class="table__footer">
        <div class="table__footer">
            {% include 'partials/_equipments_table_footer.html' %} 
        </div>
    </div>
</div>

<script src="{% static 'js/tooltip.js' %} ?v=2" ></script>
<script src="{% static 'js/filter_selector.js' %} ?v=2"></script>
<script src="{% static 'js/delete_confirmations.js' %}"></script>
<script src="{% static 'js/searchs_tables.js' %} ?v=2"></script>

{% endblock %}