{% extends "base.html" %}
{% block contend %}
{% load static %}

<div class="page__home">

  <div class="container--large container--padding-bottom container--cards">
    <div class="container__cards">
      <div class="card">
        <div class="card__container-icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 344.963 344.963" xml:space="preserve" fill="currentColor" class="card__icon card__icon--total">
            <path
              d="M321.847,86.242l-40.026-23.11l-23.104-40.02h-46.213l-40.026-23.11l-40.026,23.11H86.239 l-23.11,40.026L23.11,86.242v46.213L0,172.481l23.11,40.026v46.213l40.026,23.11l23.11,40.026h46.213l40.02,23.104l40.026-23.11 h46.213l23.11-40.026l40.026-23.11v-46.213l23.11-40.026l-23.11-40.026V86.242H321.847z M156.911,243.075 c-3.216,3.216-7.453,4.779-11.671,4.72c-4.219,0.06-8.455-1.504-11.671-4.72l-50.444-50.444c-6.319-6.319-6.319-16.57,0-22.889 l13.354-13.354c6.319-6.319,16.57-6.319,22.889,0l25.872,25.872l80.344-80.35c6.319-6.319,16.57-6.319,22.889,0l13.354,13.354 c6.319,6.319,6.319,16.57,0,22.889L156.911,243.075z">
            </path>
          </svg>
        </div>
        <div class="card__info">
          <span class="card__metric card__metric--total" id="TotalInterventions"></span>
          <span class="card__description">Intervenciones totales</span>
        </div>
      </div>

      <div class="card">
        <div class="card__container-icon">
          <svg width="22px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
            class="card__icon card__icon--week">
            <path
              d="M20 22H4C3.44772 22 3 21.5523 3 21V3C3 2.44772 3.44772 2 4 2H20C20.5523 2 21 2.44772 21 3V21C21 21.5523 20.5523 22 20 22ZM7 6V10H11V6H7ZM7 12V14H17V12H7ZM7 16V18H17V16H7ZM13 7V9H17V7H13Z">
            </path>
          </svg>
        </div>
        <div class="card__info">
          <span class="card__metric card__metric--week" id="weekInterventionsCount"></span>
          <span class="card__description">Intervenciones esta semana</span>
        </div>
      </div>

      <div class="card">
        <div class="card__container-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
            class="card__icon card__icon--month">
            <path
              d="M9 1V3H15V1H17V3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H7V1H9ZM20 8H4V19H20V8ZM15.0355 10.136L16.4497 11.5503L11.5 16.5L7.96447 12.9645L9.37868 11.5503L11.5 13.6716L15.0355 10.136Z">
            </path>
          </svg>
        </div>
        <div class="card__info">
          <span class="card__metric card__metric--month" id="monthInterventionsCount"></span>
          <span class="card__description">Intervenciones este mes</span>
        </div>
      </div>

      {% if request.user.groups.first.name == 'technicians' %}
        <div class="card">
          <div class="card__container-icon">
            <svg fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
              class="card__icon card__icon--goal">
              <path
                d="M21.92,5.62A1,1,0,0,0,21,5H19V3a1,1,0,0,0-.62-.92,1,1,0,0,0-1.09.21l-3,3A1,1,0,0,0,14,6V8.59l-2.21,2.2a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L15.41,10H18a1,1,0,0,0,.71-.29l3-3A1,1,0,0,0,21.92,5.62Z">
              </path>
              <path
                d="M12,22A10,10,0,0,1,12,2h.42a1,1,0,1,1-.18,2H12a8,8,0,1,0,8,8,1.93,1.93,0,0,0,0-.24,1,1,0,0,1,.91-1.09,1,1,0,0,1,1.09.91c0,.14,0,.28,0,.42A10,10,0,0,1,12,22Zm5.88-8.8a1,1,0,0,0-2-.4A4,4,0,1,1,11.2,8.08a1,1,0,1,0-.4-2,6,6,0,1,0,7.08,7.08Z">
              </path>
            </svg>
          </div>
          <div class="card__info">
            <span class="card__metric card__metric--goal" id="userGoal"></span>
            <span class="card__description">Meta semanal</span>
          </div>
        </div>
      {% elif request.user.groups.first.name == 'administrators' %}
        <div class="card">
          <div class="card__container-icon">
            <svg class="card__icon card__icon--goal" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
              <path d="M2 22C2 17.5817 5.58172 14 10 14C14.4183 14 18 17.5817 18 22H16C16 18.6863 13.3137 16 10 16C6.68629 16 4 18.6863 4 22H2ZM10 13C6.685 13 4 10.315 4 7C4 3.685 6.685 1 10 1C13.315 1 16 3.685 16 7C16 10.315 13.315 13 10 13ZM10 11C12.21 11 14 9.21 14 7C14 4.79 12.21 3 10 3C7.79 3 6 4.79 6 7C6 9.21 7.79 11 10 11ZM18.2837 14.7028C21.0644 15.9561 23 18.752 23 22H21C21 19.564 19.5483 17.4671 17.4628 16.5271L18.2837 14.7028ZM17.5962 3.41321C19.5944 4.23703 21 6.20361 21 8.5C21 11.3702 18.8042 13.7252 16 13.9776V11.9646C17.6967 11.7222 19 10.264 19 8.5C19 7.11935 18.2016 5.92603 17.041 5.35635L17.5962 3.41321Z"></path>
            </svg>
          </div>
          <div class="card__info">
            <span class="card__metric card__metric--goal" id="totalUsers"></span>
            <span class="card__description">Usuarios registrados</span>
          </div>
        </div>
      {% endif %}

    
    </div>
  </div>

  <div class="container--large container--padding-bottom container--home-graphics">
    <div class="home__graphic-columns" id="chart"></div>
    <div class="home__graphic-radial" id="radialChart"></div>
  </div>

  <div class="container--large container--padding-bottom container--home-graphics">
    <div class="home__graphic-line" id="lineChart"></div>
  </div>

  <script>
    // Obtener el JSON desde la variable del contexto
    const dataLineChart = JSON.parse('{{ data_json|safe }}');
    const chartLineData = JSON.parse('{{ data_grafic_line|safe }}');
  </script>

  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts/dist/locales/es.json"></script>
  <script src="{% static 'js/home_charts.js' %} ?v=2"></script>

</div>


{% endblock %}