{% extends "base.html" %}
{% block contend %}
{% load static %}

<div class="page_home">
    <div class="container__home">
        <img class="container__home-img" src="{{ request.user.profile_picture.url }}" alt="Perfil de {{ request.user.username }}">
        <div class="container__home-content">
            <h2 class="container__home-greeting">{{ greeting }}</h2>
            <p class="container__home-phrase">En Alcom, cada uno de nosotros juega un papel fundamental en el crecimiento y la innovación de nuestra organización. Este portal está diseñado para ser un recurso valioso que te apoye en tu trabajo diario y fomente la colaboración y el desarrollo dentro de nuestro equipo.</p>
            <a href="/profile/{{user.id}}" class="button button--save">
                <span>Actualizar perfil</span>
            </a>
        </div>
    </div>
</div>
    

{% endblock %}