{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registros - ALCOM SAS</title>
    <link rel="stylesheet" href="{% static 'css/styles_print.css' %}">
</head>
<body>
    <div class="header">
        <h1>Registros</h1>
        <img class="header__image" src="{% static 'img/logo_alcom.webp' %}" alt="Logo de ALCOM">
    </div>
    
    <table>
        <thead>
            <tr>
                {% for field in fields %}
                    <th>{{ field.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for value in row.values %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="footer">
        <p>Registro generado por {{ request.user.first_name }} {{ request.user.last_name }} el {{ current_time|date:"d/m/Y H:i:s" }}</p>
    </div>

    <script src="{% static 'js/print.js' %}" ></script>
</body>
</html>
