<div class="container__section-title">
    <span>{{ interventions_cant }} Intervenciones registradas</span>
    <select class="select select--search select--right" id="yearSelect">
        <option value="" disabled selected>Buscar por año</option>
        {% for year in years %}
            <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
    </select>
</div>

<div class="container__heatmap" id="container__heatmap">
    <div id="ex-ghDay" class="margin-bottom--md"></div>
    <div class="container__heatmap-items">
        <div id="ex-ghDay-legend" style="display: inline-block; margin: 0 4px;"></div>
    </div>
</div>