{% extends "base.html" %}
{% block contend %}
{% load static %}
{% csrf_token %}

<div class="container--large">
    <div class="table__info">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="25px" fill="currentColor">
            <path d="M4.00488 16V4H2.00488V2H5.00488C5.55717 2 6.00488 2.44772 6.00488 3V15H18.4433L20.4433 7H8.00488V5H21.7241C22.2764 5 22.7241 5.44772 22.7241 6C22.7241 6.08176 22.7141 6.16322 22.6942 6.24254L20.1942 16.2425C20.083 16.6877 19.683 17 19.2241 17H5.00488C4.4526 17 4.00488 16.5523 4.00488 16ZM6.00488 23C4.90031 23 4.00488 22.1046 4.00488 21C4.00488 19.8954 4.90031 19 6.00488 19C7.10945 19 8.00488 19.8954 8.00488 21C8.00488 22.1046 7.10945 23 6.00488 23ZM18.0049 23C16.9003 23 16.0049 22.1046 16.0049 21C16.0049 19.8954 16.9003 19 18.0049 19C19.1095 19 20.0049 19.8954 20.0049 21C20.0049 22.1046 19.1095 23 18.0049 23Z"></path>
        </svg>
        <span class="table__info-text">Compras pendientes</span>
    </div>
    <div class="container__table">
        <div class="container--large container--sub-table">
            <div class="table__info table__info--options table__info--gap">
                <input class="select select--search select--date-range" type="text" id="filterDateRange" name="daterange" placeholder="DD/MM/AAAA - DD/MM/AAAA" value="{% if date_range %}{{ date_range }}{% endif %}" />


                <div class="select select--filter select--right">
                    <div class="select__selected">
                        <svg width="21px" height="17px" viewBox="0 0 21 21" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.625 14H11.375V6.125H14L10.5 1.75L7 6.125H9.625V14Z" />
                            <path
                                d="M4.375 19.25H16.625C17.5901 19.25 18.375 18.4651 18.375 17.5V9.625C18.375 8.65987 17.5901 7.875 16.625 7.875H13.125V9.625H16.625V17.5H4.375V9.625H7.875V7.875H4.375C3.40987 7.875 2.625 8.65987 2.625 9.625V17.5C2.625 18.4651 3.40987 19.25 4.375 19.25Z" />
                        </svg>
                        <span> Exportar </span>
                    </div>
                    <div class="select__options">
                        <div class="select__option select__option--export" id="printShoppingExcel">
                            <svg fill="#000000" width="23px" height="18px" viewBox="0 -8 72 72" id="Layer_1"
                                data-name="Layer 1" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M46.92,0H18.74A3.44,3.44,0,0,0,15.3,3.43V52.57A3.44,3.44,0,0,0,18.74,56H53.26a3.44,3.44,0,0,0,3.44-3.43V10.62Zm.81,5.14L52,9.79H47.73Zm6.08,47.43a.55.55,0,0,1-.55.55H18.74a.55.55,0,0,1-.55-.55V3.43a.54.54,0,0,1,.55-.54H44.85v8.35a1.45,1.45,0,0,0,1.44,1.44h7.52Z" />
                                <path
                                    d="M25,48.69V45.27h3l4.91-6.94-4.91-6.44H25.15V28.48H35.73v3.41H33.79l2.84,3.56,2.57-3.56H37.37V28.48h9.11v3.41H43.67l-4.79,6.64,5.29,6.74h2.9v3.42H36.21V45.27h2l-3-4-2.89,4h2.07v3.42Z" />
                            </svg>
                            <span>Excel</span>
                        </div>
                        <div class="select__option select__option--export" id="printShoppingPdf">
                            <svg width="23px" height="18px" viewBox="-274.15 0 1200 1200"
                                xmlns="http://www.w3.org/2000/svg" class="cf-icon-svg">
                                <path
                                    d="M30 161c-16.5 0-30 13.5-30 30v827.8c0 16.5 13.5 30 30 30h591.7c16.5 0 30-13.5 30-30V343.7L469 161H30zm389.6 60v134.8c0 19.9 16.3 36.2 36.2 36.2h135.9v596.8H60V221h359.6z" />
                                <path
                                    d="M123.8 768.6h394.8v50H123.8zm0-124.6h394.8v50H123.8zm0-124.5h394.8v50H123.8z" />
                                <circle cx="194" cy="382.3" r="60" />
                            </svg>
                            <span> PDF </span>
                        </div>
                    </div>
                    <div class="select__icon">
                        <svg width="20px" height="20px" viewBox="0 0 24 24" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.34292 7.75734L4.92871 9.17155L11.9998 16.2426L19.0708 9.17158L17.6566 7.75737L11.9998 13.4142L6.34292 7.75734Z" />
                        </svg>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead class="table__headed">
                    <tr>
                        <th class="table__headed-title">Parte</th>
                        <th class="table__headed-title">Fecha</th>
                        <th class="table__headed-title">Color</th>
                        <th class="table__headed-title">Cantidad</th>
                        <th class="table__headed-title table__headed-actions">Acciones</th>
                    </tr>
                </thead>
                <tbody class="table__body">
                    {% include 'partials/_shopping_table_body.html' %}
                </tbody>  
            </table>
            <div class="table__footer">
                {% include 'partials/_shopping_table_footer.html' %}
            </div>
        </div>
    </div>
</div>

<div class="modal-overlay" style="display: none;"></div>
<div class="modal modal--parts" id="modalViewShopping">
    <button class="modal__close">
        <svg width="20px" height="20px" viewBox="0 0 24 24" fill="currentColor">
            <path id="Vector" d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
    </button>

    <div class="modal__header">
        <span>Reporte de compra</span>
    </div>
    
    <div class="modal__text modal__text--margin-top">
        <span class="modal__text-general">
            <span class="modal__text-label">Fecha:</span>
            <span class="modal__text-value" id="shoppinDate"></span>
        </span>
        <span class="modal__text-general">
            <span class="modal__text-label">Nombre parte:</span>
            <span class="modal__text-value" id="shoppinPartName"></span>
        </span>
        <span class="modal__text-general">
            <span class="modal__text-label">Numero parte:</span>
            <span class="modal__text-value" id="shoppinPartCode"></span>
        </span>
        <span class="modal__text-general">
            <span class="modal__text-label">Color:</span>
            <span class="modal__text-value" id="shoppingColor"></span>
        </span>
        <span class="modal__text-general">
            <span class="modal__text-label">Cantidad:</span>
            <span class="modal__text-value" id="shoppingQuantity"></span>
        </span>
        <span class="modal__text-general">
            <span class="modal__text-label">Observaciones:</span>
            <span class="modal__text-value" id="shoppingObservations"></span>
        </span>
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script src="{% static 'js/searchs_tables.js' %} ?v=3"></script>
<script src="{% static 'js/filter_selector_date.js' %}"></script>
<script src="{% static 'js/tooltip.js'%}"></script>
<script src="{% static 'js/filter_selector.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/modal_parts.js' %}"></script>
<script src="{% static 'js/print_pdf.js' %} ?v=2" ></script>
<script src="{% static 'js/print_excel.js' %} ?v=2" ></script>

{% endblock %}