{% extends "base.html" %}
{% block contend %}
{% load static %}

<div class="container--large container--padding-bottom">
    <table class="table">
        <div class="table__info table__info--options table__info--border-none" style="border-bottom: none;">
            <div class="select select--filter">
                <div class="select__selected" id="filterCategory">{% if category %}{{ category }}{% else %}Categoria{% endif %}</div>
                <div class="select__options scroll">
                    <div class="select__option">TODAS</div>
                    <div class="select__option">Categorias</div>
                    <div class="select__option">Referencias</div>
                    <div class="select__option">Equipos</div>
                    <div class="select__option">Intervenciones</div>
                    <div class="select__option">Usuarios</div>
                    <div class="select__option">Ingreso</div>
                </div>
                <div class="select__icon">
                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M6.34292 7.75734L4.92871 9.17155L11.9998 16.2426L19.0708 9.17158L17.6566 7.75737L11.9998 13.4142L6.34292 7.75734Z"></path>
                    </svg>
                </div>
            </div>
            
            <input class="select select--search select--right" type="text" id="inputSearchActivity" placeholder="Buscar" value="{% if search_query %}{{ search_query }}{% endif %}">
            <input class="select select--search select--date-range" type="text" id="filterDateRange" name="daterange" placeholder="DD/MM/AAAA - DD/MM/AAAA" value="{% if date_range %}{{ date_range }}{% endif %}" />
        </div>
    </table>
</div>

<div id="activityContainer" class="container--large container--activity scroll" style="display: block;">
    <div class="container__section-title">
        <span>Actividad reciente</span>
    </div>
    <ul class="container__list-activity table__body">
        {% include 'partials/_view_activity_table_body.html' %}
    </ul>
    <div class="table__footer">
        {% include 'partials/_view_activity_table_footer.html' %}
    </div>
</div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script src="{% static 'js/filter_selector.js' %}"></script>
<script src="{% static 'js/searchs_tables.js' %} ?v=2"></script>
<script src="{% static 'js/filter_selector_date.js' %}"></script>




{% endblock %} 