{% extends "base.html" %}
{% block contend %}
{% load static %}

<div class="container--large container--padding-bottom">
    <table class="table">
        <div class="table__info table__info--options table__info--border-none" style="border-bottom: none;">
            
            <div class="select select--filter">
                <div class="select__selected" id="filterCategory">{% if category %}{{ category }}{% else %}Categoria{% endif %}</div>
                <div class="select__options scroll">
                    <div class="select__option">TODAS</div>
                    {% if categories|length > 0 %}
                        {% for category in categories %}
                            <div class="select__option">{{category.nombre}}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="select__icon">
                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M6.34292 7.75734L4.92871 9.17155L11.9998 16.2426L19.0708 9.17158L17.6566 7.75737L11.9998 13.4142L6.34292 7.75734Z"></path>
                    </svg>
                </div>
            </div>
            <div class="select select--filter">
                <div class="select__selected" id="filterBrand">{% if brand %}{{ brand }}{% else %}Marca{% endif %}</div>
                <div class="select__options scroll">
                    <div class="select__option">TODAS</div>
                    {% if brands|length > 0 %}
                        {% for brand in brands %}
                            <div class="select__option">{{brand.marca}}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="select__icon">
                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.34292 7.75734L4.92871 9.17155L11.9998 16.2426L19.0708 9.17158L17.6566 7.75737L11.9998 13.4142L6.34292 7.75734Z"></path>
                    </svg>
                </div>
            </div>

            <input class="select select--search select--right" type="text" id="inputSearchReferences" placeholder="Buscar por referencia" value="{{search_query}}" />


        </div>
    </table>
</div>
<div class="container__references">
    {% include "partials/_references_results.html" %}
</div>
<div class="table__footer">
    {% include "partials/_references_results_footer.html" %}
</div>



<script src="{% static 'js/search_references.js' %} ?v=3"></script>
<script src="{% static 'js/filter_selector.js' %} ?v=2"></script>



{% endblock %} 