{% extends "base.html" %}
{% block contend %}
{% load static %}
{% csrf_token %}

<link rel="stylesheet" href="{% static 'css/styles_orden.css' %} ?v=3">

    <div class="container__orden">
        
        <div class="floating-button">
            <input type="checkbox" id="floating-button__checkbox" class="floating-button__checkbox">
            <div class="floating-button__links">
                <a id="downloadPNG" class="floating-button__link" data-tooltip="PNG">
                    <svg class="floating-button__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M20 5H4V19L13.2923 9.70649C13.6828 9.31595 14.3159 9.31591 14.7065 9.70641L20 15.0104V5ZM2 3.9934C2 3.44476 2.45531 3 2.9918 3H21.0082C21.556 3 22 3.44495 22 3.9934V20.0066C22 20.5552 21.5447 21 21.0082 21H2.9918C2.44405 21 2 20.5551 2 20.0066V3.9934ZM8 11C6.89543 11 6 10.1046 6 9C6 7.89543 6.89543 7 8 7C9.10457 7 10 7.89543 10 9C10 10.1046 9.10457 11 8 11Z"></path>
                    </svg>
                </a>
                <a id="downloadPDF" class="floating-button__link" data-tooltip="PDF">
                    <svg class="floating-button__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M3.9985 2C3.44749 2 3 2.44405 3 2.9918V21.0082C3 21.5447 3.44476 22 3.9934 22H20.0066C20.5551 22 21 21.5489 21 20.9925L20.9997 7L16 2H3.9985ZM10.5 7.5H12.5C12.5 9.98994 14.6436 12.6604 17.3162 13.5513L16.8586 15.49C13.7234 15.0421 10.4821 16.3804 7.5547 18.3321L6.3753 16.7191C7.46149 15.8502 8.50293 14.3757 9.27499 12.6534C10.0443 10.9373 10.5 9.07749 10.5 7.5ZM11.1 13.4716C11.3673 12.8752 11.6043 12.2563 11.8037 11.6285C12.2754 12.3531 12.8553 13.0182 13.5102 13.5953C12.5284 13.7711 11.5666 14.0596 10.6353 14.4276C10.8 14.1143 10.9551 13.7948 11.1 13.4716Z"></path>
                    </svg>
                </a>
                <a id="uploadFileButton" class="floating-button__link" data-tooltip="Subir archivo">
                    <svg class="floating-button__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M16 2L21 7V21.0082C21 21.556 20.5551 22 20.0066 22H3.9934C3 22 3 21.5447 3 21.0082V2.9918C3 2.44405 3.44495 2 3.9934 2H16ZM13 12H16L12 8L8 12H11V16H13V12Z"></path>
                    </svg>
                </a>
                
                <!-- Input oculto para cargar archivos -->
                <input id="uploadFile" type="file" accept="application/pdf" style="display: none;">
                
                <a href="#" class="floating-button__link" data-tooltip="Rechazar">
                    <svg class="floating-button__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M18 13C19.0928 13 20.1174 13.2922 20.9999 13.8026L20.9998 7L16 2H3.9985C3.44749 2 3 2.44405 3 2.9918V21.0082C3 21.5447 3.44476 22 3.9934 22H12.8027C12.2922 21.1175 12 20.0929 12 19C12 15.6863 14.6863 13 18 13ZM21.5356 21.1212L19.4143 18.9999L21.5356 16.8786L20.1214 15.4644L18.0001 17.5857L15.8788 15.4644L14.4646 16.8786L16.5859 18.9999L14.4646 21.1212L15.8788 22.5354L18.0001 20.4141L20.1214 22.5354L21.5356 21.1212Z"></path>
                    </svg>
                </a>
                <a href="#" class="floating-button__link" data-tooltip="Validar">
                    <svg class="floating-button__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M20.9998 7L16 2H3.9985C3.44749 2 3 2.44405 3 2.9918V21.0082C3 21.5447 3.44476 22 3.9934 22H12.3414C12.1203 21.3744 12 20.7013 12 20C12 16.6863 14.6863 14 18 14C19.0928 14 20.1174 14.2922 20.9999 14.8026L20.9998 7ZM14.4646 19.4647L18.0001 23.0002L22.9498 18.0505L21.5356 16.6362L18.0001 20.1718L15.8788 18.0505L14.4646 19.4647Z"></path>
                    </svg>
                </a>
            </div>
            <div class="floating-button__toggle">
                <label for="floating-button__checkbox" class="floating-button__label">
                    <svg class="floating-button__svg--close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z"></path>
                    </svg>
                </label>
            </div>
        </div>

        <article class="orden" id="orderService">
            <link rel="stylesheet" href="{% static 'css/styles_orden.css' %} ?v=3">
            <header class="orden__header">
                <div class="orden__header-content">
                    <div class="orden__logo">
                        <img class="orden__logo-image" src="{% static 'img/logo_alcom_orden.png' %}" alt="">
                    </div>
                    <div class="orden__date">
                        <div class="orden__date-table">
                            <div class="orden__date-table__head">
                                <span class="orden__date-table__title text-bold">ORDEN DE SERVICIO</span>
                                <span class="orden__date-table__number">{{ intervention.num_orden_pk }}</span>
                            </div>
                            <div class="orden__date-table__header orden__date-table__header--border-top">
                                <div class="orden__date-table__item orden__date-table__item--border-rigth"><span class="text-bold">Dia</span></div>
                                <div class="orden__date-table__item orden__date-table__item--border-rigth"><span class="text-bold">Mes</spa></div>
                                <div class="orden__date-table__item orden__date-table__item--border-rigth"><span class="text-bold">Año</span></div>
                                <div class="orden__date-table__item orden__date-table__item--largue" ><span class="text-bold">Ciudad</span></div>
                            </div>
                            <div class="orden__date-table__header orden__date-table__body">
                                <div class="orden__date-table__item orden__date-table__item--border-rigth"><span>{{ intervention.fecha_hora|date:"d" }}</span></div>
                                <div class="orden__date-table__item orden__date-table__item--border-rigth"><span>{{ intervention.fecha_hora|date:"m" }}</span></div>
                                <div class="orden__date-table__item orden__date-table__item--border-rigth"><span>{{ intervention.fecha_hora|date:"Y" }}</span></div>
                                <div class="orden__date-table__item orden__date-table__item--largue" ><span>Medellin</span></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="orden__info-enterprise"> 
                    <div class="orden__enterprise-info">
                        <div class="orden__info-item">
                            <svg class="orden__info-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3ZM20 7.23792L12.0718 14.338L4 7.21594V19H20V7.23792ZM4.51146 5L12.0619 11.662L19.501 5H4.51146Z"></path></svg>
                            <span class="orden__info-text">alcom@une.net.co</span>
                        </div>
                        <div class="orden__info-item">
                            <svg class="orden__info-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M7 4V20H17V4H7ZM6 2H18C18.5523 2 19 2.44772 19 3V21C19 21.5523 18.5523 22 18 22H6C5.44772 22 5 21.5523 5 21V3C5 2.44772 5.44772 2 6 2ZM12 17C12.5523 17 13 17.4477 13 18C13 18.5523 12.5523 19 12 19C11.4477 19 11 18.5523 11 18C11 17.4477 11.4477 17 12 17Z"></path></svg>
                            <span class="orden__info-text">3019120072</span>
                        </div>
                        <div class="orden__info-item">
                            <svg class="orden__info-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M21 16.42V19.9561C21 20.4811 20.5941 20.9167 20.0705 20.9537C19.6331 20.9846 19.2763 21 19 21C10.1634 21 3 13.8366 3 5C3 4.72371 3.01545 4.36687 3.04635 3.9295C3.08337 3.40588 3.51894 3 4.04386 3H7.5801C7.83678 3 8.05176 3.19442 8.07753 3.4498C8.10067 3.67907 8.12218 3.86314 8.14207 4.00202C8.34435 5.41472 8.75753 6.75936 9.3487 8.00303C9.44359 8.20265 9.38171 8.44159 9.20185 8.57006L7.04355 10.1118C8.35752 13.1811 10.8189 15.6425 13.8882 16.9565L15.4271 14.8019C15.5572 14.6199 15.799 14.5573 16.001 14.6532C17.2446 15.2439 18.5891 15.6566 20.0016 15.8584C20.1396 15.8782 20.3225 15.8995 20.5502 15.9225C20.8056 15.9483 21 16.1633 21 16.42Z"></path></svg>
                            <span class="orden__info-text">PBX:(604)3227408</span>
                        </div>
                        <div class="orden__info-item">
                            <svg class="orden__info-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M18.364 17.364L12 23.7279L5.63604 17.364C2.12132 13.8492 2.12132 8.15076 5.63604 4.63604C9.15076 1.12132 14.8492 1.12132 18.364 4.63604C21.8787 8.15076 21.8787 13.8492 18.364 17.364ZM12 15C14.2091 15 16 13.2091 16 11C16 8.79086 14.2091 7 12 7C9.79086 7 8 8.79086 8 11C8 13.2091 9.79086 15 12 15ZM12 13C10.8954 13 10 12.1046 10 11C10 9.89543 10.8954 9 12 9C13.1046 9 14 9.89543 14 11C14 12.1046 13.1046 13 12 13Z"></path></svg>
                            <span class="orden__info-text">Medellín, Colombia</span>
                        </div>
                    </div>
                    <div class="orden__enterprise-web">
                        <span class="orden__info-text orden__info-text--web">www.alcomsas.com.co</span>
                    </div>
                </div>
            </header>
            <main class="orden__main">
                <div class="orden__info-client">
                    <div class="orden__info-name orden__date-table__item--border-rigth">
                        <span class="text-bold">EMPRESA: </span>
                        <span> ALCOM SAS</span>
                    </div>
                    <div class="orden__info-service ">
                        <span class="text-bold">PROCEDIMIENTO:</span>
                        <span>{{ intervention.tarea_realizada|upper }}</span>
                    </div>
                </div>
                <div class="orden__info-equipment">
                    <div class="orden__info-code orden__date-table__item--border-rigth">
                        <span class="text-bold">CODIGO: </span>
                        <span> {{ equipment.cod_equipo_pk }} </span>
                    </div>
                    <div class="orden__info-brand orden__date-table__item--border-rigth">
                        <span class="text-bold">MARCA: </span>
                        <span> {{ equipment.referencia_fk.marca|upper }} </span>
                    </div>
                    <div class="orden__info-serial orden__date-table__item--border-rigth">
                        <span class="text-bold">SERIAL: </span>
                        <span> {{ equipment.serial }} </span>
                    </div>
                    <div class="orden__info-category orden__date-table__item--border-rigth">
                        <span class="text-bold">CATEGORIA: </span>
                        <span>{{ equipment.referencia_fk.categoria|upper }}</span>
                    </div>
                    <div class="orden__info-reference orden__date-table__item--border-rigth">
                        <span class="text-bold">REFERENCIA: </span>
                        <span>{{ equipment.referencia_fk.referencia_pk|upper }}</span>
                    </div>
                </div>
                <div class="order__line"></div>
                <div class="orden__description">
                    {% if intervention_outcome|length > 0  or intervention_income|length > 0 %}
                        <div class="orden__items-header">
                            <div class="orden__date-table__item--border-rigth text-bold orden__header-item orden__header-item--medium-largue">PIEZA</div>
                            <div class="orden__date-table__item--border-rigth text-bold orden__header-item orden__header-item--medium">NUMERO</div>
                            <div class="orden__date-table__item--border-rigth text-bold orden__header-item orden__header-item--small">CANTIDAD</div>
                            <div class="orden__date-table__item--border-rigth text-bold orden__header-item orden__header-item--small">ACCION</div>
                            <div class="text-bold orden__header-item orden__header-item--largue">OBSERVACIONES</div>
                        </div>
                        {% for income in intervention_income %}
                            <div class="orden__items-item">
                                <div class="orden__date-table__item--border-rigth orden__header-item orden__header-item--medium-largue">{{ income.num_parte_fk.nombre }}</div>
                                <div class="orden__date-table__item--border-rigth orden__header-item orden__header-item--medium">{{ income.num_parte_fk.num_parte_pk }}</div>
                                <div class="orden__date-table__item--border-rigth orden__header-item orden__header-item--small">{{ income.cantidad }}</div>
                                <div class="orden__date-table__item--border-rigth orden__header-item orden__header-item--small">{% if income.tipo_movimiento == 'Entrada' %}Salida{% elif income.tipo_movimiento == 'Salida' %}Entrada{% else %}ERROR{% endif %}</div>
                                <div class="orden__header-item orden__header-item--largue">{{ income.observaciones }}</div>
                            </div>
                        {% endfor %}
                        {% for outcome in intervention_outcome %}
                            <div class="orden__items-item">
                                <div class="orden__date-table__item--border-rigth orden__header-item orden__header-item--medium-largue">{{ outcome.num_parte_fk.nombre }}</div>
                                <div class="orden__date-table__item--border-rigth orden__header-item orden__header-item--medium">{{ outcome.num_parte_fk.num_parte_pk }}</div>
                                <div class="orden__date-table__item--border-rigth orden__header-item orden__header-item--small">{{ outcome.cantidad }}</div>
                                <div class="orden__date-table__item--border-rigth orden__header-item orden__header-item--small">{% if outcome.tipo_movimiento == 'Entrada' %}Salida{% elif outcome.tipo_movimiento == 'Salida' %}Entrada{% else %}ERROR{% endif %}</div>
                                <div class="orden__header-item orden__header-item--largue">{{ outcome.observaciones }}</div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    
                    <div class="orden__items-header">
                        <div class="text-bold orden__header-item orden__header-item--all">OBSERVACIONES GENERALES</div>
                    </div>
                    <div class="orden__items-item">
                        <div class="orden__header-item orden__header-item--largue orden__header-item--all">{{ intervention.observaciones }}</div>
                    </div>
                </div>
            </main>
            <footer>
                <div class="orden__footer">
                    <div class="orden__footer-item">
                        <span class="text-bold orden__footer-title">FUCIONARIO ALCOM: </span>
                        <span class="orden__footer-name">{{intervention_user.first_name}} {{intervention_user.last_name}}</span>
                    </div>
                </div>
            </footer>
        </article>
    </div>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="{% static 'js/order_service.js' %}"></script>

    
{% endblock %}