{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios registrados - ALCOM SAS</title>
    <link rel="stylesheet" href="{% static 'css/styles_print.css' %}">
</head>
<body>
    <div class="header">
        <h1>Lista de usuarios</h1>
        <img class="header__image" src="{% static 'img/logo_alcom.webp' %}" alt="Logo de ALCOM">
    </div>
    
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Cargo</th>
                <th>Fecha de Registro</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.position }}</td>
                <td>{{ user.groups.first.name }}</td>
                <td>{{ user.date_joined|date:"d/m/Y" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="footer">
        <p>Registro generado por {{ request.user.first_name }} {{ request.user.last_name }} el {{ current_time|date:"d/m/Y H:i:s" }}</p>
    </div>

    <script src="{% static 'js/print.js' %} ?v=2" ></script>
</body>
</html>

