{% extends "base.html" %}
{% block contend %}
{% load static %}

<div class="layer-color"></div>
<div class="page__user" id="idUserAccount" data-user="{{ user_account.id }}">

    <div class="page__user-section-info">
        <div class="container--user">
            <div class="container__section-image">
                <img id="imageProfile" class="container__image--profile" src="{{ user_account.profile_picture.url }}" alt="Profile Image">
                <input type="file" id="userFileImageInput" data-app="users" data-table="CustomUser" data-field="profile_picture" data-record="{{user_account.id}}" data-type="image">
                <span>{% if user_account.first_name or user_account.last_name %}{{ user_account.first_name }} {{ user_account.last_name }}{% else %}No name{% endif %}</span>
            </div>

            <div class="container__section-details">
                <div class="container__section-detail">
                    <span class="detail__label">Usuario:</span>
                    <span class="detail__value">{% if user_account.username %}{{ user_account.username }}{% else %}No user{% endif %}</span>
                </div>
            </div>
            <div class="container__section-details">
                <div class="container__section-detail">
                    <span class="detail__label">Correo:</span>
                    <span class="detail__value">{% if user_account.email %}{{ user_account.email }}{% else %}No email{% endif %}</span>
                </div>
            </div>

            <div class="container__section-details">
                <div class="container__section-detail">
                    <span class="detail__label">Estado:</span>
                    <span class="detail__value">
                        {% if user_account.status == 'active' %}
                            <div class="status status--active">
                                <span>
                                    Activo
                                </span>
                            </div>
                        {% elif user_account.status == 'blocked' %}
                            <div class="status status--blocked">
                                <span>
                                    Bloqueado
                                </span>
                            </div>
                        {% else %}
                            <span>
                                None
                            </span>
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="container__section-details">
                <div class="container__section-detail">
                    <span class="detail__label">Rol:</span>
                    <span class="detail__value">{% if user_account.groups.exists %}{% for group in user_account.groups.all %}{% if group.name == 'administrators' %}Administrador{% elif group.name == 'technicians' %}Técnico{% elif group.name == 'consultants' %}Consultor{% else %}{{ group.name }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}{% else %}Sin grupos{% endif %}</span>
                </div>
            </div>
            <div class="container__section-details">
                <div class="container__section-detail">
                    <span class="detail__label">Cargo:</span>
                    <span class="detail__value">{% if user_account.position %}{{ user_account.position }}{% else %}No position{% endif %}</span>
                </div>
            </div>
            <div class="container__section-details">
                <div class="container__section-detail">
                    <span class="detail__label">Fecha de registro:</span>
                    <span class="detail__value">{% if user_account.date_joined %}{{ user_account.date_joined|date:"d/m/y" }}{% else %}No date{% endif %}</span>
                </div>
            </div>
            <div class="container__section-actions">
                {% if user.groups.first.name == 'administrators' %}
                    <div id="deleteUser" class="button button--delete" data-user="{{ user_account.id }}">
                        <span>Eliminar</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="page__user-section-nav">
        <div class="container--sub-navegation">
            {% if request.user.groups.first.name == 'technicians' or user_account.groups.first.name == 'technicians' %}
                <div class="button button--navegation" data-target="UserStatistics">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25px" viewBox="0 0 24 24" fill="currentColor"><path d="M3 12H7V21H3V12ZM17 8H21V21H17V8ZM10 2H14V21H10V2Z"></path></svg>
                    <span>Intervenciones</span>
                </div>
            {% endif %}
            <div class="button button--active button--navegation button-margin-left" data-target="activityContainer">
                <svg width="30px" height="30px" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM17.26 9.96L14.95 12.94C14.66 13.31 14.25 13.55 13.78 13.6C13.31 13.66 12.85 13.53 12.48 13.24L10.65 11.8C10.58 11.74 10.5 11.74 10.46 11.75C10.42 11.75 10.35 11.77 10.29 11.85L7.91 14.94C7.76 15.13 7.54 15.23 7.32 15.23C7.16 15.23 7 15.18 6.86 15.07C6.53 14.82 6.47 14.35 6.72 14.02L9.1 10.93C9.39 10.56 9.8 10.32 10.27 10.26C10.73 10.2 11.2 10.33 11.57 10.62L13.4 12.06C13.47 12.12 13.54 12.12 13.59 12.11C13.63 12.11 13.7 12.09 13.76 12.01L16.07 9.03C16.32 8.7 16.8 8.64 17.12 8.9C17.45 9.17 17.51 9.64 17.26 9.96Z" />
                </svg>
                <span>Actividad</span>
            </div>
            {% if request.user.groups.first.name == 'technicians' or user_account.groups.first.name == 'technicians' %}
                <div class="button button--navegation button-margin-left" data-target="goalsContainer">
                    <svg fill="currentColor" width="30px" height="30px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.92,5.62A1,1,0,0,0,21,5H19V3a1,1,0,0,0-.62-.92,1,1,0,0,0-1.09.21l-3,3A1,1,0,0,0,14,6V8.59l-2.21,2.2a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L15.41,10H18a1,1,0,0,0,.71-.29l3-3A1,1,0,0,0,21.92,5.62Z"></path>
                        <path d="M12,22A10,10,0,0,1,12,2h.42a1,1,0,1,1-.18,2H12a8,8,0,1,0,8,8,1.93,1.93,0,0,0,0-.24,1,1,0,0,1,.91-1.09,1,1,0,0,1,1.09.91c0,.14,0,.28,0,.42A10,10,0,0,1,12,22Zm5.88-8.8a1,1,0,0,0-2-.4A4,4,0,1,1,11.2,8.08a1,1,0,1,0-.4-2,6,6,0,1,0,7.08,7.08Z"></path>
                    </svg>
                    <span>Metas</span>
                </div>
            {% endif %}
            <div class="button button--navegation button-margin-left"
                data-target="personalDataContainer,loginDataContainer">
                <svg fill="currentColor" width="30px" height="30px" viewBox="0 0 24 24">
                    <path
                        d="M9.6,3.32a3.86,3.86,0,1,0,3.86,3.85A3.85,3.85,0,0,0,9.6,3.32M16.35,11a.26.26,0,0,0-.25.21l-.18,1.27a4.63,4.63,0,0,0-.82.45l-1.2-.48a.3.3,0,0,0-.3.13l-1,1.66a.24.24,0,0,0,.06.31l1,.79a3.94,3.94,0,0,0,0,1l-1,.79a.23.23,0,0,0-.06.3l1,1.67c.06.13.19.13.3.13l1.2-.49a3.85,3.85,0,0,0,.82.46l.18,1.27a.24.24,0,0,0,.25.2h1.93a.24.24,0,0,0,.23-.2l.18-1.27a5,5,0,0,0,.81-.46l1.19.49c.12,0,.25,0,.32-.13l1-1.67a.23.23,0,0,0-.06-.3l-1-.79a4,4,0,0,0,0-.49,2.67,2.67,0,0,0,0-.48l1-.79a.25.25,0,0,0,.06-.31l-1-1.66c-.06-.13-.19-.13-.31-.13L19.5,13a4.07,4.07,0,0,0-.82-.45l-.18-1.27a.23.23,0,0,0-.22-.21H16.46M9.71,13C5.45,13,2,14.7,2,16.83v1.92h9.33a6.65,6.65,0,0,1,0-5.69A13.56,13.56,0,0,0,9.71,13m7.6,1.43a1.45,1.45,0,1,1,0,2.89,1.45,1.45,0,0,1,0-2.89Z" />
                </svg>
                <span>Configuracion</span>
            </div>
            
        </div>

        <div id="activityContainer" class="container--activity scroll" style="display: block;">
            <div class="container__section-title">
                <span>Actividad reciente</span>
            </div>
            <ul class="container__list-activity">
                {% include "partials/_user_activity_table_body.html" %}
            </ul>
            <div class="table__footer">
                {% include 'partials/_user_activity_table_footer.html' %}
            </div>
        </div>
        
        {% if request.user.groups.first.name == 'technicians' or user_account.groups.first.name == 'technicians' %}
            <div id="goalsContainer" class="container--activity scroll" style="display: none;">
                <div class="container__section-title">
                    <span>Lista de metas</span>
                    {% if request.user.groups.first.name == 'administrators' %}
                        <div class="button button--margin-left" data-modal-id="modalNewGoal">
                            <svg width="15px" height="15px" fill="currentColor" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
                                <path d="M866.332 213v653.332H213v186.666h653.332v653.332h186.666v-653.332h653.332V866.332h-653.332V213z"></path>
                            </svg>
                            <span>Agregar</span>
                        </div>
                    {% endif %}
                </div>

                <ul class="container__list-activity">
                    {% include "partials/_goals_body.html" %}
                </ul>

            </div>
        {% endif %}

        <div id="personalDataContainer" class="container--activity scroll" style="display: none;" >
            <div class="container__section-title">
                <span>Datos personales</span>
            </div>

            <form class="container__form"  data-id="{{ user_account.id }}">
                {% csrf_token %}
                <div class="form__largue">
                    <div class="input-container">
                        <div class="input-wrapper">
                            <input class="input input--medium" type="text" id="names" value="{% if user_account.first_name %}{{ user_account.first_name }}{% endif %}">
                            <label class="input-container__label" for="names">Nombres</label>
                        </div>
                        <div class="input-wrapper">
                            <input class="input input--medium" type="text" id="lastName" value="{% if user_account.last_name %}{{ user_account.last_name }}{% endif %}">
                            <label class="input-container__label" for="lastName">Apellidos</label>
                        </div>
                    </div>
                </div>
                <div class="form__largue form__largue--margin-top">
                    <div class="input-container">
                        <div class="input-wrapper input-wrapper--largue">
                            <input class="input input--largue" type="email" id="email" value="{% if user_account.email %}{{ user_account.email }}{% endif %}">
                            <label class="input-container__label" for="email">Correo electrónico</label>
                        </div>
                    </div>
                </div>
                <div class="form__largue form__largue--margin-top">
                    <div class="input-container">
                        <div class="input-wrapper input-wrapper--largue">
                            <input class="input input--largue" type="text" id="jobName" value="{% if user_account.position %}{{ user_account.position }}{% endif %}">
                            <label class="input-container__label" for="jobName">Cargo</label>
                        </div>
                    </div>
                </div>
                {% if user.groups.first.name == 'administrators' %}
                    <button class="button button--save" type="submit">
                        <span>Guardar cambios</span>
                    </button>
                    <span id="personalMessageError" class="login__error-message"></span>
                {% endif %}
            </form>
        </div>

        <div id="loginDataContainer" class="container--activity scroll" style="display: none;">
            <div class="container__section-title">
                <span>Datos de ingreso</span>
            </div>

            <form id="loginDataForm" class="container__form"  data-id="{{ user_account.id }}">
                {% csrf_token %}
                <div class="form__largue">
                    <div class="input-container">
                        <div class="input-wrapper">
                            <input class="input input--medium" type="text" id="username" value="{% if user_account.username %}{{ user_account.username }}{% endif %}">
                            <label class="input-container__label" for="username">Usuario</label>
                        </div>
                        <div class="input-wrapper input-wrapper--flex">
                            <div class="select select--filter select--state">
                                <div class="select__selected">Estado</div>
                                {% if user.groups.first.name == 'administrators' %}
                                    <div class="select__options scroll">
                                        <div class="select__option">Activo</div>
                                        <div class="select__option">Bloqueado</div>
                                    </div>
                                {% endif %}
                                <div class="select__icon">
                                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="currentColor">
                                        <path
                                            d="M6.34292 7.75734L4.92871 9.17155L11.9998 16.2426L19.0708 9.17158L17.6566 7.75737L11.9998 13.4142L6.34292 7.75734Z" />
                                    </svg>
                                </div>
                            </div>
                            <div class="select select--filter select--state">
                                <div class="select__selected">Rol</div>
                                {% if user.groups.first.name == 'administrators' %}
                                    <div class="select__options scroll">
                                        <div class="select__option">Consultor</div>
                                        <div class="select__option">Administrador</div>
                                        <div class="select__option">Tecnico</div>
                                    </div>
                                {% endif %}
                                <div class="select__icon">
                                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="currentColor">
                                        <path
                                            d="M6.34292 7.75734L4.92871 9.17155L11.9998 16.2426L19.0708 9.17158L17.6566 7.75737L11.9998 13.4142L6.34292 7.75734Z" />
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <div class="input-wrapper">
                            <input class="input input--medium" type="password" id="newPassword" >
                            <label class="input-container__label" for="newPassword">Nueva contraseña</label>
                        </div>

                        <div class="input-wrapper">
                            <input class="input input--medium" type="password" id="newPasswordValidation">
                            <label class="input-container__label" for="newPasswordValidation">Confirme nueva contraseña</label>
                        </div>

                    </div>

                    {% if user.groups.first.name == 'administrators' %}
                        <button class="button button--save">
                            <span>Guardar cambios</span>
                        </button>
                    {% endif %}
                    <span id="loginMessageError" class="login__error-message"></span>
                 
                </div>

            </form>
        </div>

        {% if request.user.groups.first.name == 'technicians' or user_account.groups.first.name == 'technicians' %}
            <div id="UserStatistics" class="container__healt-map container--activity scroll" style="display: block;">
                {% include "partials/_healt_map_container.html" %}

                <div class="container__interventions-list">
                    {% include "partials/_healt_map_interventions_list.html" %}
                </div>
            </div>
        {% endif %}
        
    </div>
</div>


<div class="modal-overlay"></div>
<div class="modal" id="modalNewGoal">
    <button class="modal__close">
        <svg width="20px" height="20px" viewBox="0 0 24 24" fill="currentColor">
            <path id="Vector" d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>

    <div class="modal__header">
        <span>Añadir nueva meta</span>
        <p class="modal__subheader">Por favor, ingresa los datos necesarios para registrar una nueva meta.</p>
    </div>

    <form class="container__form" id="newGoalsForm">
        {% csrf_token %}
        <div class="form__largue">
            <div class="input-container">
                <div class="input-wrapper">
                    <input class="input input--medium" type="week" name="goalWeek" required/>
                </div>
                <div class="input-wrapper">
                    <input class="input input--medium" type="number" name="goalCant" required>
                    <label class="input-container__label">Cantidad de intervenciones</label>
                </div>
            </div>
        </div>

        <div class="modal__options">
            <button type="submit" class="button button--save">
                <span>Añadir meta</span>
            </button>
            <span id="messageErrorGoal" class="login__error-message">‎</span>
        </div>
    </form>
</div>

<script>

// Obtener referencias a los elementos del formulario
const newGoalsForm = document.getElementById('newGoalsForm');
const user = document.getElementById('idUserAccount').dataset.user;
const messageErrorGoal = document.getElementById('messageErrorGoal');

newGoalsForm.addEventListener('submit', function(event) {
    event.preventDefault(); // Evitar el envío del formulario
    messageErrorGoal.textContent = '‎';

    // Crear un objeto FormData con los datos del formulario
    const formData = new FormData(newGoalsForm);
    formData.append('user', user);  // 'user' es el nombre del campo que recibirás en el servidor

    // Hacer una solicitud POST al servidor
    fetch('/new_goat/', {
        method: 'POST',
        headers: {
            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
        },
        body: formData  // Enviar el FormData con los datos del formulario y el usuario
    })
    .then(response => {
        // Si el estado es 403, redirigir manualmente
        if (response.status === 403) {
            window.location.href = '/forbidden_access/';
            return;
        }
        return response.json();
    })
    .then(data => {
        if (data) {  
            if (data.error) {
                messageErrorGoal.textContent = data.error;  
            } else if (data.success) {
                location.reload();
            }
        }
    })
    .catch(error => {
        messageErrorGoal.textContent = 'Ha ocurrido un error en la validación.';  // Muestra un mensaje de error
    });
});


</script>



<!-- heatmap dependencias -->
<link rel="stylesheet" href="https://unpkg.com/cal-heatmap/dist/cal-heatmap.css">

<!-- D3.js (dependencia de CalHeatmap) -->
<script src="https://d3js.org/d3.v6.min.js"></script>

<!-- Day.js y sus extensiones -->
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/localeData.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/utc.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/locale/es.js"></script>

<!-- CalHeatmap -->
<script src="https://unpkg.com/cal-heatmap/dist/cal-heatmap.min.js"></script>

<!-- Plugins de CalHeatmap -->
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/cal-heatmap/dist/plugins/Tooltip.min.js"></script>
<script src="https://unpkg.com/cal-heatmap/dist/plugins/LegendLite.min.js"></script>
<script src="https://unpkg.com/cal-heatmap/dist/plugins/CalendarLabel.min.js"></script>

<script>
    var interventionsData = JSON.parse('{{ interventions_json|escapejs }}');
</script>

<script src="{% static 'js/delete_confirmations.js' %}"></script>
<script src="{% static 'js/user_crud.js' %}"></script>
<script src="{% static 'js/filter_selector.js'%}"></script>
<script src="{% static 'js/inputs_placeholders.js' %}"></script>
<script src="{% static 'js/update_files.js' %}"></script>
<script src="{% static 'js/heatmap_user.js' %} ?v=6"></script>
<script src="{% static 'js/modal.js' %}" ></script>

{% endblock %}