{% extends "base.html" %}
{% block contend %}
{% load static %}

<div class="container--large">
    <table class="table">
        <div class="table__info">
            <svg width="20" height="21" viewBox="0 0 18 19" fill="currentColor">
                <path
                    d="M4.5 4.5C4.5 6.981 6.519 9 9 9C11.481 9 13.5 6.981 13.5 4.5C13.5 2.019 11.481 0 9 0C6.519 0 4.5 2.019 4.5 4.5ZM17 19H18V18C18 14.141 14.859 11 11 11H7C3.14 11 0 14.141 0 18V19H17Z" />
            </svg>
            <span class="table__info-text">Usuarios</span>
        </div>
        <div class="table__info table__info--options">

            <input class="select select--search" type="text" id="searchUser" placeholder="Buscar por nombre" />

            <div class="select select--filter select--right">
                <div class="select__selected">
                    <svg width="21px" height="17px" viewBox="0 0 21 21" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.625 14H11.375V6.125H14L10.5 1.75L7 6.125H9.625V14Z" />
                        <path
                            d="M4.375 19.25H16.625C17.5901 19.25 18.375 18.4651 18.375 17.5V9.625C18.375 8.65987 17.5901 7.875 16.625 7.875H13.125V9.625H16.625V17.5H4.375V9.625H7.875V7.875H4.375C3.40987 7.875 2.625 8.65987 2.625 9.625V17.5C2.625 18.4651 3.40987 19.25 4.375 19.25Z" />
                    </svg>
                    <span> Exportar </span>
                </div>
                <div class="select__options">
                    <a href="{% url 'export_users_xlsx' %}" class="select__option select__option--export">
                        <svg fill="currentColor" width="23px" height="18px" viewBox="0 -8 72 72" id="Layer_1"
                            data-name="Layer 1" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M46.92,0H18.74A3.44,3.44,0,0,0,15.3,3.43V52.57A3.44,3.44,0,0,0,18.74,56H53.26a3.44,3.44,0,0,0,3.44-3.43V10.62Zm.81,5.14L52,9.79H47.73Zm6.08,47.43a.55.55,0,0,1-.55.55H18.74a.55.55,0,0,1-.55-.55V3.43a.54.54,0,0,1,.55-.54H44.85v8.35a1.45,1.45,0,0,0,1.44,1.44h7.52Z" />
                            <path
                                d="M25,48.69V45.27h3l4.91-6.94-4.91-6.44H25.15V28.48H35.73v3.41H33.79l2.84,3.56,2.57-3.56H37.37V28.48h9.11v3.41H43.67l-4.79,6.64,5.29,6.74h2.9v3.42H36.21V45.27h2l-3-4-2.89,4h2.07v3.42Z" />
                        </svg>
                        <span >Excel</span>
                    </a>
                    <div class="select__option select__option--export" id="printTable">
                        <svg width="23px" height="18px" fill="currentColor" viewBox="-274.15 0 1200 1200"
                            xmlns="http://www.w3.org/2000/svg" class="cf-icon-svg">
                            <path
                                d="M30 161c-16.5 0-30 13.5-30 30v827.8c0 16.5 13.5 30 30 30h591.7c16.5 0 30-13.5 30-30V343.7L469 161H30zm389.6 60v134.8c0 19.9 16.3 36.2 36.2 36.2h135.9v596.8H60V221h359.6z" />
                            <path
                                d="M123.8 768.6h394.8v50H123.8zm0-124.6h394.8v50H123.8zm0-124.5h394.8v50H123.8z" />
                            <circle cx="194" cy="382.3" r="60" />
                        </svg>
                        <span> PDF </span>
                    </div>
                    
                </div>

               
                <div class="select__icon">
                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M6.34292 7.75734L4.92871 9.17155L11.9998 16.2426L19.0708 9.17158L17.6566 7.75737L11.9998 13.4142L6.34292 7.75734Z" />
                    </svg>
                </div>
            </div>
            <div class="button" data-modal-id="modalNewUser">
                <svg width="15px" height="15px" fill="currentColor" viewBox="0 0 1920 1920"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M866.332 213v653.332H213v186.666h653.332v653.332h186.666v-653.332h653.332V866.332h-653.332V213z" />
                </svg>
                <span>Agregar</span>
            </div>
        </div>
        <thead class="table__headed">
            <th class="table__headed-title">Nombre</th>
            <th class="table__headed-title">Rol</th>
            <th class="table__headed-title">Estado</th>
            <th class="table__headed-title table__headed-actions">Acciones</th>
        </thead>
        <tbody class="table__body">
            {% if users|length > 0 %}
                {% for user in users %}
                    {% if request.user.id != user.id %}
                        <tr class="table__row">
                            <td class="table__cell table__cell--auto table__cell--flex">
                                <img class="table__image table__image--circular" src="{% if user.profile_picture %}{{ user.profile_picture.url }}{% endif %}"
                                    alt="img" />
                                <div class="table__container-text">
                                    <a href="{% url 'edit_user' user.id %}" class="table__container-link">{% if user.first_name or user.last_name %}{{ user.first_name }} {{ user.last_name }}{% else %}No name{% endif %}</a>
                                    <span class="table__container-email">{% if user.email %}{{ user.email }}{% else %}No email{% endif %}</span>
                                </div>
                            </td>
                            <td class="table__cell table__cell--medium table__cell--overflow" data-text="{% if user.groups.exists %}{% for group in user.groups.all %}{% if group.name == 'administrators' %}Administrador{% elif group.name == 'technicians' %}Técnico{% elif group.name == 'consultants' %}Consultor{% else %}{{ group.name }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}{% else %}Sin grupos{% endif %}">
                                {% if user.groups.exists %}
                                    {% for group in user.groups.all %}
                                        {% if group.name == "administrators" %}
                                            Administrador
                                        {% elif group.name == "consultants" %}
                                            Consultor
                                        {% elif group.name == "technicians" %}
                                            Técnico
                                        {% else %}
                                            {{ group.name }}  {# En caso de que el grupo no esté en la lista #}
                                        {% endif %}
                                        {% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                {% else %}
                                    No group
                                {% endif %}
                            </td>
                            <td class="table__cell table__cell--small table__cell--overflow"
                                data-text="{% if user.status == 'active' %}Activo{% elif user.status == 'blocked' %}Bloqueado{% else %}None{% endif %}">
                                {% if user.status == 'active' %}
                                    <div class="status status--active">
                                        <span>
                                            Activo
                                        </span>
                                    </div>
                                {% elif user.status == 'blocked' %}
                                    <div class="status status--blocked">
                                        <span>
                                            Bloqueado
                                        </span>
                                    </div>
                                {% else %}
                                    <span>
                                        None
                                    </span>
                                {% endif %}
                            </td>
                            <td class="table__cell table__cell--actions">
                                <a href="{% url 'edit_user' user.id %}" >
                                    <svg class="svg-option" width="20px" height="20px">
                                        <use href="#icon-view"></use>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% else %}
                <tbody class="table__body">
                    <tr class="table__row table__row--not-results">
                        <td class="table__cell table__cell--not-results" colspan="4">
                            <span class="table__text--not-result">
                                No se encontraron resultados
                            </span>
                        </td>
                    </tr>
                </tbody>
            {% endif %}
        </tbody>
    </table>

    <div class="table__footer">
        <nav class="pagination">
            <span class="pagination__records">Total: {{ users.paginator.count }} registros</span>
            <ul class="pagination__list">
                {% if users.has_previous %}
                    <li class="pagination__item pagination__item--previous">
                        <a class="pagination__container-icon" href="?page={{ users.previous_page_number }}">
                            <svg width="15px" height="15px">
                                <use href="#icon-previous"></use>
                            </svg>
                        </a>
                    </li>
                {% endif %}

                {% if users.paginator.num_pages > 1 %}
                    {% if users.number > 3 %}
                        <li class="pagination__item"><a class="pagination__container-icon" href="?page=1">1</a></li>
                        {% if users.number > 4 %}
                            <li class="pagination__item">...</li>
                        {% endif %}
                    {% endif %}

                    {% for num in users.paginator.page_range %}
                        {% if num >= users.number|add:-1 and num <= users.number|add:1 %}
                            <li class="pagination__item {% if num == users.number %}active{% endif %}">
                                <a class="pagination__container-icon" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if users.number < users.paginator.num_pages|add:-1 %}
                        {% if users.number < users.paginator.num_pages|add:-1 %}
                            <li class="pagination__item">...</li>
                        {% endif %}
                        <li class="pagination__item"><a class="pagination__container-icon" href="?page={{ users.paginator.num_pages }}">{{ users.paginator.num_pages }}</a></li>
                    {% endif %}
                {% endif %}

                {% if users.has_next %}
                    <li class="pagination__item pagination__item--next">
                        <a class="pagination__container-icon" href="?page={{ users.next_page_number }}">
                            <svg width="15px" height="15px">
                                <use href="#icon-next"></use>
                            </svg>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    
    
</div>



<div class="modal-overlay"></div>
    <div class="modal" id="modalNewUser">
        <button class="modal__close">
            <svg width="20px" height="20px" viewBox="0 0 24 24" fill="currentColor">
                <path id="Vector" d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>

        <div class="modal__header">
            <span>Añadir nuevo usuario</span>
            <p class="modal__subheader">Por favor, ingresa los datos necesarios para registrar un nuevo usuario.</p>
        </div>


        <form class="container__form">
            {% csrf_token %}
            <div class="form__largue">
                <div class="input-container">
                    <div class="input-wrapper">
                        <input class="input input--medium" type="text" id="names" required>
                        <label class="input-container__label" for="names">Nombres</label>
                    </div>
                    <div class="input-wrapper">
                        <input class="input input--medium" type="text" id="lastName" required>
                        <label class="input-container__label" for="lastName">Apellidos</label>
                    </div>
                </div>
            </div>
            <div class="form__largue form__largue--margin-top">
                <div class="input-container">
                    <div class="input-wrapper input-wrapper--largue">
                        <input class="input input--largue" type="email" id="email" required>
                        <label class="input-container__label" for="email">Correo electrónico</label>
                    </div>
                </div>
            </div>
            <div class="form__largue form__largue--margin-top">
                <div class="input-container">
                    <div class="input-wrapper input-wrapper--largue">
                        <input class="input input--largue" type="text" id="jobName" required>
                        <label class="input-container__label" for="jobName">Cargo</label>
                    </div>
                </div>
            </div>
            <div class="form__largue form__largue--margin-top">
                <div class="input-container">
                    <div class="input-wrapper">
                        <input class="input input--medium" type="text" id="Usuario" required>
                        <label class="input-container__label" for="Usuario">Usuario</label>
                    </div>
                    <div class="input-wrapper input-wrapper--flex">
                        <div class="select select--filter select--state">
                            <div class="select__selected">Estado</div>
                            <div class="select__options scroll">
                                <div class="select__option">Activo</div>
                                <div class="select__option">Bloqueado</div>
                            </div>
                            <div class="select__icon">
                                <svg width="20px" height="20px" viewBox="0 0 24 24" fill="currentColor">
                                    <path
                                        d="M6.34292 7.75734L4.92871 9.17155L11.9998 16.2426L19.0708 9.17158L17.6566 7.75737L11.9998 13.4142L6.34292 7.75734Z" />
                                </svg>
                            </div>
                        </div>
                        <div class="select select--filter select--state">
                            <div class="select__selected">Rol</div>
                            <div class="select__options scroll">
                                <div class="select__option">Consultor</div>
                                <div class="select__option">Administrador</div>
                                <div class="select__option">Tecnico</div>
                            </div>
                            <div class="select__icon">
                                <svg width="20px" height="20px" viewBox="0 0 24 24" fill="currentColor">
                                    <path
                                        d="M6.34292 7.75734L4.92871 9.17155L11.9998 16.2426L19.0708 9.17158L17.6566 7.75737L11.9998 13.4142L6.34292 7.75734Z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="input-wrapper">
                        <input class="input input--medium" type="password" id="newPassword" required>
                        <label class="input-container__label" for="newPassword">Nueva contraseña</label>
                    </div>
                    <div class="input-wrapper">
                        <input class="input input--medium" type="password" id="newPasswordValidation" required>
                        <label class="input-container__label" for="newPasswordValidation">Confirme nueva contraseña</label>
                    </div>
                </div>
            </div>

            <div class="modal__options">
                <button type="submit" class="button button--save">
                    <span>Añadir usuario</span>
                </button>
                <span id="messageError" class="login__error-message">‎</span>
            </div>

        </form>
    </div>

    {% if messages %}
    {% for message in messages %}
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <div id="toast-data" data-icon="{{ message.tags }}" data-title="{{ message }}"></div>
        <script src="{% static 'js/pop-up_window.js' %}" ></script>
    {% endfor %}
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/user_validation.js' %}" ></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/search_tables.js' %}" ></script>

   
    <script>
       document.getElementById('printTable').addEventListener('click', function() {
    // Abre una nueva ventana con la URL que carga la vista de impresión
    window.open('/print_users/', '_blank');
});
    </script>

{% endblock %}