{% extends "base.html" %}
{% block contend %}
{% load static %}
{% csrf_token %}

<div class="container--large">
    <div class="table__info">
        <svg width="20px" viewBox="0 -0.5 17 17" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" fill="currentColor">
            <path
                d="M1.539,8.001 C2.367,8.001 2.918,7.45 2.918,6.622 L2.914,6.187 C2.914,6.187 2.709,4.954 4.354,4.954 L11.015,5 L11.015,6.759 C11.338,7.081 11.862,7.081 12.185,6.759 L14.758,4.187 C15.08,3.863 15.08,3.339 14.758,3.017 L12.185,0.292 C11.862,-0.03 11.338,-0.03 11.015,0.292 L11.015,2.137 C10.854,2.09 4.562,2.063 4.562,2.063 C0.851,2.063 0.039,4.492 0.039,5.47 L0.039,6.501 C0.039,7.329 0.711,8.001 1.539,8.001 L1.539,8.001 Z">
            </path>
            <path
                d="M13.5,8.042 C12.672,8.042 12,8.626 12,9.454 L12.002,10.411 C11.957,10.768 11.357,11.001 10.477,11.001 L3.938,11.001 L3.936,9.442 C3.614,9.12 3.09,9.12 2.766,9.442 L0.194,12.014 C-0.128,12.338 -0.128,12.862 0.194,13.184 L2.766,15.756 C3.09,16.08 3.614,16.08 3.936,15.756 L3.938,13.905 L10.477,13.905 C14.188,13.905 15,11.463 15,10.484 L15,9.453 C15,8.626 14.328,8.042 13.5,8.042 L13.5,8.042 Z">
            </path>
        </svg>
        <span class="table__info-text">Movimientos</span>
    </div>
    <div class="container__table">
        <div class="container--large container--sub-table">
            <div class="table__info table__info--options table__info--gap">
                <div class="select select--filter">
                    <div class="select__selected" id="filterMovements">{% if search_query %}{{ search_query }}{% else %}Filtrar por{% endif %}</div>
                    <div class="select__options scroll">
                        <div class="select__option select__option--filter">Entradas</div>
                        <div class="select__option select__option--filter">Salidas</div>
                    </div>
                    <div class="select__icon">
                        <svg width="20px" height="20px" viewBox="0 0 24 24" fill="currentColor">
                            <path
                                d="M6.34292 7.75734L4.92871 9.17155L11.9998 16.2426L19.0708 9.17158L17.6566 7.75737L11.9998 13.4142L6.34292 7.75734Z">
                            </path>
                        </svg>
                    </div>
                </div>


                <div class="select select--filter select--right">
                    <div class="select__selected">
                        <svg width="21px" height="17px" viewBox="0 0 21 21" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.625 14H11.375V6.125H14L10.5 1.75L7 6.125H9.625V14Z"></path>
                            <path d="M4.375 19.25H16.625C17.5901 19.25 18.375 18.4651 18.375 17.5V9.625C18.375 8.65987 17.5901 7.875 16.625 7.875H13.125V9.625H16.625V17.5H4.375V9.625H7.875V7.875H4.375C3.40987 7.875 2.625 8.65987 2.625 9.625V17.5C2.625 18.4651 3.40987 19.25 4.375 19.25Z"></path>
                        </svg>
                        <span> Exportar </span>
                    </div>
                    <div class="select__options">
                        <div class="select__option select__option--export" id="printMovementsExcel">
                            <svg fill="#000000" width="23px" height="18px" viewBox="0 -8 72 72" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg">
                                <path d="M46.92,0H18.74A3.44,3.44,0,0,0,15.3,3.43V52.57A3.44,3.44,0,0,0,18.74,56H53.26a3.44,3.44,0,0,0,3.44-3.43V10.62Zm.81,5.14L52,9.79H47.73Zm6.08,47.43a.55.55,0,0,1-.55.55H18.74a.55.55,0,0,1-.55-.55V3.43a.54.54,0,0,1,.55-.54H44.85v8.35a1.45,1.45,0,0,0,1.44,1.44h7.52Z"></path>
                                <path d="M25,48.69V45.27h3l4.91-6.94-4.91-6.44H25.15V28.48H35.73v3.41H33.79l2.84,3.56,2.57-3.56H37.37V28.48h9.11v3.41H43.67l-4.79,6.64,5.29,6.74h2.9v3.42H36.21V45.27h2l-3-4-2.89,4h2.07v3.42Z"></path>
                            </svg>
                            <span>Excel</span>
                        </div>
                        <div class="select__option select__option--export" id="printMovementsPdf">
                            <svg width="23px" height="18px" viewBox="-274.15 0 1200 1200" xmlns="http://www.w3.org/2000/svg" class="cf-icon-svg">
                                <path d="M30 161c-16.5 0-30 13.5-30 30v827.8c0 16.5 13.5 30 30 30h591.7c16.5 0 30-13.5 30-30V343.7L469 161H30zm389.6 60v134.8c0 19.9 16.3 36.2 36.2 36.2h135.9v596.8H60V221h359.6z"></path>
                                <path d="M123.8 768.6h394.8v50H123.8zm0-124.6h394.8v50H123.8zm0-124.5h394.8v50H123.8z"></path>
                                <circle cx="194" cy="382.3" r="60"></circle>
                            </svg>
                            <span> PDF </span>
                        </div>
                    </div>
                    <div class="select__icon">
                        <svg width="20px" height="20px" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.34292 7.75734L4.92871 9.17155L11.9998 16.2426L19.0708 9.17158L17.6566 7.75737L11.9998 13.4142L6.34292 7.75734Z"></path>
                        </svg>
                    </div>
                </div>
            </div>

            <table class="table">
                <thead class="table__headed">
                    <tr>
                        <th class="table__headed-title">Pieza</th>
                        <th class="table__headed-title">Fuente</th>
                        <th class="table__headed-title">Movimiento</th>
                        <th class="table__headed-title">Cantidad</th>
                        <th class="table__headed-title table__headed-actions">Acciones</th>
                    </tr>
                </thead>
                <tbody class="table__body">
                    {% include 'partials/_movements_table_body.html' %}
                </tbody>  
            </table>
            <div class="table__footer">
                {% include 'partials/_movements_table_footer.html' %}
            </div>
        </div>
    </div>
</div>

<div class="modal-overlay" style="display: none;"></div>
<div class="modal modal--parts modal--active" id="modalMovements" style="display: none;">
    <button class="modal__close">
        <svg width="20px" height="20px" viewBox="0 0 24 24" fill="currentColor">
            <path id="Vector" d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
    </button>

    <div class="modal__header">
        <span>Registro <span id="movemenAction">ingreso</span> de partes</span>
    </div>
    
    <div class="modal__text modal__text--margin-top">
        <span class="modal__text-general">
            <span class="modal__text-label">Fecha:</span>
            <span class="modal__text-value" id="movemenDate"></span>
        </span>
        <span class="modal__text-general">
            <span class="modal__text-label">Fuente:</span>
            <span class="modal__text-value" id="movementSource"></span>
        </span>
        <span class="modal__text-general">
            <span class="modal__text-label">Cantidad:</span>
            <span class="modal__text-value" id="movementQuantity"></span>
        </span>
        <span class="modal__text-general">
            <span class="modal__text-label">Observaciones:</span>
            <span class="modal__text-value" id="movementObservations"></span>
        </span>
    </div>
</div>

<script src="{% static 'js/searchs_tables.js' %} ?v=4"></script>
<script src="{% static 'js/tooltip.js'%}"></script>
<script src="{% static 'js/filter_selector.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/modal_movements.js' %}"></script>
<script src="{% static 'js/print_pdf.js' %}" ></script>
<script src="{% static 'js/print_excel.js' %}" ></script>

{% endblock %}