{% if paginator|length > 0 %}
    {% for reference in paginator %}
        <tr class="table__row">
            <td class="table__cell table__cell--auto table__cell--flex">
                <img class="table__image table__image--semi-circular"
                    src="{% if reference.archivos.imagen_1 %}{{ reference.archivos.imagen_1.url }}{% else %}{{ default_image }}{% endif %}" 
                    alt="" />
                <div class="table__container-text">
                    <a href="#" class="table__container-link">{{reference.referencia_pk}}</a>
                </div>
            </td>
            <td class="table__cell table__cell--small table__cell--overflow" data-text="{{reference.marca}}">
                {{reference.marca}}
            </td>
            <td class="table__cell table__cell--small table__cell--overflow" data-text="{{reference.observaciones}}">
                {{reference.observaciones}} 
            </td>
            <td class="table__cell table__cell--actions">
                <a href="{% url 'edit_reference' reference.referencia_pk  %}">
                    <svg class="svg-option svg-option--edit" width="20px" height="20px">
                        <use href="#icon-edit"></use>
                    </svg>
                </a>
                <svg class="svg-option svg-option--delete deleteReference" width="20px" height="20px" data-reference-id="{{reference.referencia_pk}}">
                    <use href="#icon-delete"></use>
                </svg>
            </td>
        </tr>
    {% endfor %}
{% else %}
        <tr class="table__row table__row--not-results">
            <td class="table__cell table__cell--not-results" colspan="4">
                <span class="table__text--not-result">
                    No se encontraron resultados
                </span>
            </td>
        </tr>
{% endif %}